@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --main-color: purple;
    --black: #333;
    --white: #fff;
  }

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--black);
    color: var(--white);
    padding:25px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    font-size: 32px;
    font-weight: 700;
}

.title{
    
}

.countown{
    color:transparent;
}
